.displayTask {
  padding: 0 12rem;
  margin-top: 4rem;
}

.displayTask p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.displayTask__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.displayTask__task:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.displayTask__task--label {
  position: relative;
  cursor: pointer;
  display: flex;
}

.displayTask__task--label input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #fffff0;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fffff0;
  cursor: pointer;
  margin-right: 3rem;
}

.displayTask__task--label input:checked {
  border: 1px solid #fffff0;
  background-color: #744210;
}

.displayTask__task--text {
  font-size: 2.2rem;
  width: 40rem;
}

.displayTask__task--label input:checked + .displayTask__task--text::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #fffff0;
  position: absolute;
  font-size: 2.3rem;
  left: 0.3rem;
  top: 0rem;
}

.displayTask__task--label input:active {
  border: 2px solid #744210;
}

.displayTask__task .MuiSvgIcon-root {
  font-size: 2.5rem;
  color: rgba(244, 67, 54, 0.7);
  display: none;
}

.displayTask__task:hover .MuiSvgIcon-root {
  display: inline;
  transition: all 0.3s;
}

.displayTask__task .MuiSvgIcon-root:hover,
.displayTask__task .MuiSvgIcon-root:focus {
  color: #f44336;
  cursor: pointer;
}
