.formInput {
  padding: 0 12rem;
  margin-top: 2rem;
}

.formInput form {
  display: flex;
  align-items: center;
}

.formInput__input {
  font-family: 'Caveat', cursive;
  color: #fffff0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 240, 0.6);
  padding: 1rem;
  font-size: 2rem;
  width: 45rem;
  background-color: transparent;
  outline: 0;
  margin-right: 2rem;
  transition: all 0.5s;
}

.formInput__input::placeholder {
  color: rgba(255, 255, 240, 0.6);
}

.formInput__input:focus {
  border-color: #fffff0;
  transition: all 0.5s;
}

.formInput__button {
  background: transparent;
  border: 0;
}

.formInput__button:focus {
  outline: 0;
}

.formInput .MuiSvgIcon-root {
  font-size: 4rem;
  color: rgba(255, 255, 240, 0.6);
  cursor: pointer;
  transition: all 0.5s;
}

.formInput .MuiSvgIcon-root:hover,
.formInput .MuiSvgIcon-root:focus {
  color: #fffff0;
  transition: all 0.5s;
}

@media screen and (max-width: 780px) {
  .formInput {
    padding: 0 6rem;
  }
}

@media screen and (max-width: 660px) {
  .formInput {
    padding: 0 3rem;
  }
  .formInput__input {
    width: 41rem;
  }

  .formInput .MuiSvgIcon-root {
    font-size: 3rem;
  }
}

@media screen and (max-width: 380px) {
  .formInput {
    padding: 1rem;
  }

  .formInput__input {
    width: 25rem;
    margin-right: 1rem;
    font-size: 1.6rem;
  }

  .formInput .MuiSvgIcon-root {
    font-size: 2.5rem;
  }
}
